.center {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.title{
font-size: 45px;
margin-top: 50px;
margin-left: max(65px, 15%);
}

.time{
margin-top: 20px;
text-align: center;
height: 70px;
font-size: 35px;
}

.container{
overflow: hidden;
}

.rightarrow{
font-size: 35px;
width: 100px;
margin-left: 20px;
}

.leftarrow{
font-size: 35px;
height: 45px;
width: 100px;
margin-right: 20px;
}

.rectangle{
  
}