/* 프로필 페이지 */

/*
position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
*/
/* Forest 1 */

.Forest1{
position: absolute;
width: 2021px;
height: 1177px;
left: -43px;
top: -45px;

filter: blur(19.5px);
}

/* 감사를 남긴 글들 */

.ThanksGave{
position: absolute;
width: 126px;
height: 22px;
left: 1107px;
top: 459px;


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #BBBBBB;
}


/* Rectangle 9 */
.Rectangle9{
position: absolute;
width: 300px;
height: 40px;
left: 1020px;
top: 450px;

background: rgba(217, 217, 217, 0.1);
border-radius: 10px;
}


/* 임시 기준선1 */
.임시기준선1{
position: absolute;
width: 900px;
height: 0px;
left: 480px;
top: 160px;

border: 1px solid #444444;
transform: rotate(90deg);
}


/* 임시 기준선2 */
.임시기준선2{
position: absolute;
width: 900px;
height: 0px;
left: 1440px;
top: 160px;

border: 1px solid #444444;
transform: rotate(90deg);
}


/* Placeholder님, 당신의 글귀들은 지금까지 */
.Mryourwriting{
position: absolute;
width: 723px;
height: 68px;
left: 606px;
top: 181px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;

color: #888888;

text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.4);
}


/* N */
.N{
position: absolute;
width: 72px;
height: 116px;
left: 924px;
top: 249px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 96px;
line-height: 116px;

color: #728D47;

text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.5);
}


/* 명의 사람들의 마음을 따뜻하게 만들어 주었습니다. */
.WarmHeart{
position: absolute;
width: 671px;
height: 62px;
left: 624px;
top: 378px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;

color: #888888;

text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.4);
}


/* Line 2 */
.Line2{
position: absolute;
width: 840px;
height: 0px;
left: 540px;
top: 440px;

border: 1px solid #444444;
}

/* Line 3 */
.Line3{
position: absolute;
width: 840px;
height: 0px;
left: 540px;
top: 500px;

border: 1px solid #444444;
}

/* Line 4 */
.Line4{
position: absolute;
width: 40px;
height: 0px;
left: 960px;
top: 490px;

border: 1px solid #444444;
transform: rotate(-90deg);
}

/* Group 2 */
.Group2{
position: absolute;
width: 1920px;
height: 100px;
left: 0px;
top: 0px;
}



/* identical to box height */
/*!!!!!!!!!!!!!!!!의미불명!!!!!!!!!!
color: #FFFFFF;
*/


/* Group 3 1 */
/*!!!!!!!!!!!!!!!!!!얘도!!!!!!!!!!!
position: absolute;
width: 160px;
height: 60px;
left: 44px;
top: 20px;

background: url(Group 3.png);
/*

/* Rectangle 8 */
.Rectangle8{
position: absolute;
width: 300px;
height: 40px;
left: 600px;
top: 450px;

background: rgba(217, 217, 217, 0.1);
border-radius: 10px;
}

/* 감사를 받은 글들 */
.ThanksReceived{
position: absolute;
width: 126px;
height: 22px;
left: 687px;
top: 459px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */
/*글자색인듯*/
color: #BBBBBB;
}


/* Group 6 */
.Group6{
position: absolute;
width: 400px;
height: 280px;
left: 524px;
top: 544px;
}


/* Rectangle 6 */
.Rectangle6{
position: absolute;
width: 400px;
height: 280px;
left: calc(50% - 400px/2 - 236px);
top: calc(50% - 280px/2 + 144px);

background: rgba(217, 217, 217, 0.4);
box-shadow: 8px 12px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

/* 왼쪽 글박스 */
.WritingBox1{
position: absolute;
width: 360px;
height: 200px;
left: 544px;
top: 584px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #313E2B;
}


/* Group 7 */
.Group7{
position: absolute;
width: 400px;
height: 280px;
left: 996px;
top: 544px;
}


/* Rectangle 6 */
.Rectangle6{
position: absolute;
width: 400px;
height: 280px;
left: calc(50% - 400px/2 + 236px);
top: calc(50% - 280px/2 + 144px);

background: rgba(217, 217, 217, 0.4);
box-shadow: 8px 12px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

/* 오른쪽 글박스 */
.WritingBox2{
position: absolute;
width: 360px;
height: 200px;
left: 1016px;
top: 584px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #313E2B;
}
