.center {
    display: grid; 
    justify-content: center;
    align-items: center;
  }
  
  .input-box {
    padding: 10px;
  }

  .submitbutton {
    margin-top: 10px;
  }

  .topicbutton {
    left: 40%;
  }